.HeroSection{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem 0;
    position:relative;
    overflow:hidden;
}
.HeroSection::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #0B1017CC, #0B1017);
}
.HeroSection .container{
   

}
.HeroSection .swiper-slide{
    text-align: left; 
    justify-content: flex-start;
}