.favorite__title{
	margin-bottom: 2rem;
}
.favorite__title h3{
	font-size: 2rem;
	font-weight:bold;
}
.favorite .favorite__buttons{
	display: flex; 
	align-items: center;
	justify-content: flex-start;
	gap:5%;
	margin-bottom: 2rem;
}
.favorite .favorite__buttons >*{
	margin-bottom: 1rem;
}
.favorite .favorite__buttons .favorite__buttons_filter{
	width: 45%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap:5%;
	overflow-x: scroll;
}
.favorite .btn{
	display: inline-block;
    width: 100%;
    padding: 1rem 0;
    border: none;
    outline: none;
    background: var(--black-color);
    text-align: center;
	padding: 1rem;
	cursor: pointer;
}
.favorite .favorite__buttons__Clear__All {
	margin-left: auto;
	padding-right: 5px;
}
.favorite .row {
	gap: 3%;
}
.favorite .col {
	width: 100%;
	margin-bottom: 2rem;
}
.card-options.add {
	background-color: transparent;
	border: none;
	font-size: 2rem;
}
.card-options {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 0.7em;
	box-sizing: border-box;
	top: 5%;
	bottom: 0;
	background-color: #ef47b6;
	border: 1px solid #ef47b6;
	color: #fff;
	cursor: pointer;
}

@media (min-width: 576px) {
	.favorite .row {
		/* gap: 3%; */
		justify-content: space-between;
	}
	.favorite .row .col {
		flex: 0 0 45%;
		max-width: 50%;
		margin-bottom: 2rem;
	}
}
@media (min-width: 1024px) {
	.favorite .row {
		justify-content: flex-start;
	}
	.favorite .row .col {
		flex: 0 0 31%;
		padding: 0;
	}
}
@media (min-width: 1200px) {
	.favorite .row .col {
		flex: 0 0 22%;
	}
}
