.searchModal{
    position: absolute;
    align-items: flex-start;
    width:100vw;
    height: 100%;

    justify-content:flex-start;
}
.searchModal .closeSearchModal{
    top: 4%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.searchModal .container {
    width:100vw;
    height:100vh;
}
.searchModal .container.Hauto {
    height:auto;
}
.searchModal .container .searchForm{
    padding-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
}
.searchModal .container .searchInput{
    width: 85vw;
    
    padding: 1rem;
    box-sizing: border-box;
    background: var(--black-color);
    color:var(--white-color);
    border: none;
    outline: none;
    box-shadow: 0 2px 8px rgb(57 157 242 / 18%)
}
.searchModal .container .row{
    justify-content:space-between;
    padding-top: 2rem;
}
.searchModal .container .row .col{
    width: 100%;
    margin-bottom: 1rem;
}
@media(min-width:320px){
    .searchModal .closeSearchModal{

    }
}
@media(min-width:570px){
    .searchModal .closeSearchModal{
      

    }
}
@media(min-width:768px){
    .searchModal .closeSearchModal{
        top: 5%;

    }
    .searchModal .container .row .col{
        width: 31%;
    }
  }


  @media(min-width:992px){}
  
  @media(min-width:1200px){
    .searchModal .container .row .col{
        width: 22%;
    }
    .searchModal .closeSearchModal{
        top: 7%;

    }
  }
  @media(min-width:1400px){
    .searchModal .container .row .col{
        width: 22%;
    }
  } 