.Movie-item{cursor:pointer;
    height: 100%;
}
.Movie-item .card{
   transition: box-shadow 0.4s ease;
   box-shadow: 0px 0px 3px var(--primarydark-color);
}
.Movie-item:hover .card{
    box-shadow: 0px 0px 5px var(--primarydark-color);
}