.Favourite .col{
    width: 100%;
    margin-bottom: 3rem;
}
.Favourite .col .card-top{
    width: 100%;
    
}
.card-options{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    font-size: 0.7em;
    box-sizing: border-box;
    top: 5%;
    bottom: 0;
    background-color: #ef47b6;
    border: 1px solid #ef47b6;
    color: #fff;

}
.card-options.add{
    background-color:transparent;
    border: none;
    font-size: 2rem;
}
.card-options.d-none{
    display: none;
}
.Favourite .col .card-top .card-options i{
   
}   
.production-compony{
    flex-wrap: wrap;
    margin-top: 1rem;
}
.production-compony li{
    width: 40%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
.Favourite .card-footer .overview{
    display: none;
}
@media (min-width:320px) {
    .Favourite .col .card{
        display:flex;
        justify-content: space-between;
         align-items: flex-start;
}
    .Favourite .col .card-top{
        width:40%;
        height: 100%;

    } 
    .Favourite .col .card-footer{
        width:60%;
    } 
    .Favourite .col .card-top-box{
        height: 100%;
    }
    .Favourite .col .card-image {
        height: 100%;
    }
    .Favourite .col .card-top-box img{
        height: 100%;
        transform: scale(1.1);

    }
}
@media (min-width:400px){
    .Favourite .col .card{
         align-items: center;
}
}
@media (min-width:520px){
    .Favourite .card-footer .overview{
        display: block;
        font-size: 0.7rem;
        line-height: 2
    }
}
@media (min-width:768px){
    .Favourite .col .card{
        height: 350px;
}
    .Favourite .col .card-top{
        width:30%;
        height: 100%;

    } 
    .Favourite .col .card-footer{
        width:65%;
    } 
    .Favourite .card-footer .overview{
        font-size: 0.8rem;
    }
    .Favourite .col .card-top-box img{
        height: 100%;
        transform: unset;
        object-position: top;
    }
}
@media (min-width:1024px){
    .Favourite .col .card{
        align-items: flex-start;
}
    .Favourite .col .card{
        max-height: 100%;
        /* height: 300px; */
}
.Favourite .col .card-top{
    width:20%;
    min-height: 50%;

} 
.Favourite .col .card-footer{
    padding: 2rem;
    font-size: 1rem;
    height: 100%;
    width: 80%;

    /* padding: 3rem; */
} 
.Favourit .card-desc .card-title{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

}

