.Series {
    padding: 2rem 0;
   
}
.Series .row .col{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
   
}
@media(min-width:576px){
    .Series .row{
     justify-content:space-between;
    }
    .Series .row .col{
        flex: 0 0 45%;
        max-width: 50%;
        margin-bottom: 2rem;
    }
  }

@media(min-width:768px){
  
  }
  @media(min-width:992px){
  
  }
  @media(min-width:1024px){
    .Series .row{
        justify-content: flex-start;
        gap: 3%;
    }
    .Series .row .col{
        flex: 0 0 30%;
        padding: 0;
    }
  }
  @media(min-width:1200px){
    .Series .row{
    }
    .Series .row .col{
        flex: 0 0 22%;
    

    }
  }