    nav {
      position: relative;
      top: -2%;
      padding: 1.5rem 1rem ;
      z-index: 9999;
      transition: all .4s linear;
      background: var(--dark-color);      
    }
    nav.sticky{
    position: sticky;
    top: 0;
    background: var(--black-color);
     }
    nav .container{
      padding: 0;
    }
    nav .container .row{
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    nav .container .row .left-side{
      width: 100%;
      max-width: 100%;
      margin-bottom: 0.5rem;
    }
    nav .container .row .left-side .logo-img{
      width: 119px;
      margin: 0 auto ;
    }
    nav .container .row .left-side .logo .logo-img img{
      width: 100%;
      object-fit: cover;
      height: auto;
    }

    .nav-items {
     position:absolute;  
     top: 120%;
     left: 0;
     background: var(--black-color);
     box-shadow: 0px 5px 15px 0px rgb(0 33 85 / 10%);
     max-height: 330px;
     width: 100%;
     visibility: hidden;
     opacity: 0;
     transition:all  0.4s ease-in-out;
     transform: scaleY(0);
     transform-origin: top;
    }

    .nav-items.show{
      transition:all  0.4s ease-in-out;
      display: inline-block;
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
    }
    .nav-items ul {
      padding:1rem
    }

    .nav-items ul li{
      margin-bottom: 1rem;
      width:100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color:var(--white-color);
    }
    .nav-items ul li a.active{
      color: var(--primary-color);
    }
    nav .container .row .right-side{
      width: 100%;
      max-width: 100%;
    }
    nav .container .row .right-side .row{
      justify-content: space-around;
      width: 100%;
      
    }
  
    nav .container .row .right-side .row .ChangeTheme select, nav .container .row .right-side .row .navbar-Toggler{
      height: 45px;
      width: 45px;
      text-align: center;
      border-radius: 90px;
      background: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    nav .container .row .right-side .row .navbar-Toggler,nav .container .row .right-side .row .ChangeTheme select{
      border-radius: 0;
    }
    nav .container .row .right-side .row .ChangeTheme select{
    background: var(--dark-color);
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 1px var(--primary-color);

    width: 65px;
    height: 31px;
    padding: 0rem 4px;
    display: flex;
    justify-content: center;
    text-align: justify;
    }
    .search-box{
      cursor: pointer;
    }
    @media(min-width:330px){
      nav .container .row .right-side{
        max-width: 70%;
        width: 60%;
        margin: 0;
      }
      nav .container .row .right-side .row{
        justify-content: flex-end;
        align-items: center;
        gap:1rem;
      }
      .nav-items { 
        top: 153%;
       }
      nav .container .row .left-side {
        max-width: 40%;
        width: 40%;
        display: flex;
        align-self: center;
        margin: 0;
      }
      nav .container .row .left-side .logo-img{
         width: 110px;
      }
    }
  @media(min-width:768px){
    nav .container .row .left-side {
      max-width: 40%;
    }
    .nav-items {
      top:120%;
     }
     nav .container .row .left-side .logo-img{
      width: 150px;

    }
  }
  @media(min-width:992px){
    
  }
  @media(min-width:1024px){
 

    nav .container .row .left-side {
      width: 15%;
    }
    .nav-items {
      position:static;
      display: flex;
      justify-content:center;
      margin-bottom:0;
      background: transparent;
      width: 35%;
      box-shadow: none;
     }
     .nav-items ul {
      width: 100%;
      display: flex;
      gap: 10%;
      justify-content: center;

     }
     .nav-items ul li{
       width:auto;
       margin: 0;
       display: inline-block;

     }

    nav .container .row .right-side{
      width: 20%;
    }
    nav .container .row .right-side .row{
      justify-content: center;
    }
    nav .container .row .right-side .row .navbar-Toggler{
     display: none;
    }
  }
  @media(min-width:1400px){
 
  }
  
 