    nav {
      padding: 1.5rem 1rem ;
      z-index: 9999;
      transition: all .4s linear;
      background: rgba(10, 14, 23, 0.4);
      transform:translateY(-5px);
    }
    nav.sticky{
    position: sticky;
    top: 0;
    background: #141b29;
    transform:translateY(0);

     }
    nav .container{
      padding: 0;
    }
    nav .container .row{
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    nav .container .row .left-side{
      width: 43%;
      max-width: 100%;
    }
    nav .container .row .left-side .logo-img{
      width: 119px;
    }
    nav .container .row .left-side .logo .logo-img img{
      width: 100%;
      object-fit: cover;
      height: auto;
    }

    .nav-items {
     position:absolute;
     top: 135%;
     left: 0;
     background: var(--black-color);
     box-shadow: 0px 5px 15px 0px rgb(0 33 85 / 10%);
     max-height: 330px;
    width: 100%;
    display: none;
    transition:all  0.4s ease-in-out;
    }

    .nav-items.show{
      display: inline-block;
    }
    .nav-items ul {
      padding:1rem
    }

    .nav-items ul li{
      margin-bottom: 1rem;
      width:100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color:var(--white-color);
    }
    .nav-items ul li a.active{
      color: var(--primary-color);
    }
    nav .container .row .right-side{
      width: 50%;
      max-width: 100%;
    }
    nav .container .row .right-side .row{
      justify-content: space-around;
      width: 100%;
      
    }
  
    nav .container .row .right-side .row .account-box a, nav .container .row .right-side .row .navbar-Toggler{
      height: 45px;
      width: 45px;
      text-align: center;
      border-radius: 90px;
      background: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    nav .container .row .right-side .row .navbar-Toggler{
      border-radius: 0;
    }
    .search-box{
      cursor: pointer;
    }
    @media(min-width:330px){
      nav .container .row .right-side{
        max-width: 50%;
        margin: 0;
      }
      nav .container .row .right-side .row{
        justify-content: flex-end;
        align-items: center;
        gap:1rem;
      }
      nav .container .row .left-side {
        max-width: 40%;
        display: flex;
        align-self: center;
        margin: 0;
      }
      nav .container .row .left-side .logo-img{
          width: 160px;
      }
    }
  @media(min-width:768px){
    nav .container .row .left-side {
      max-width: 30%;
    }
    .nav-items {
      top:120%;
     }
  }
  @media(min-width:992px){
  
  }
  @media(min-width:1024px){
 

    nav .container .row .left-side {
      width: 15%;
    }
    .nav-items {
      position:static;
      display: flex;
      justify-content:center;
      margin-bottom:0;
      background: transparent;
      width: 35%;
      box-shadow: none;
     }
     .nav-items ul {
      width: 100%;
      display: flex;
      gap: 10%;
      justify-content: center;

     }
     .nav-items ul li{
       width:auto;
       margin: 0;
       display: inline-block;

     }

    nav .container .row .right-side{
      width: 20%;
    }
    nav .container .row .right-side .row{
      justify-content: center;
    }
    nav .container .row .right-side .row .navbar-Toggler{
     display: none;
    }
  }
  @media(min-width:1400px){
 
  }
  
 