.movies {
    padding: 2rem 0;
}
.movies .row .col{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}
@media(min-width:576px){
    .movies .row{
        gap: 3%;
        justify-content: center;
    }
    .movies .row .col{
        padding: 0 15px;
        flex: 0 0 40%;
        max-width: 40%;
        margin-bottom: 2rem;
    }
  }

@media(min-width:768px){
  
  }
  @media(min-width:992px){
  
  }
  @media(min-width:1024px){
    .movies .row{
        gap: 1%;
        justify-content: flex-start;
        
    }
    .movies .row .col{
        flex: 0 0 20%;
        max-width: 20%;
        
    }
  }
  @media(min-width:1200px){
    .movies .row .col{
        flex: 0 0 30%;
        max-width: 30%;

    }
  }