.Series-item{cursor:pointer;
    height: 100%;
}
.Series-item .card{  
    transition: all 0.4s ease;
    box-shadow: 0px 0px 3px var(--primarydark-color);
    

}
.Series-item:hover .card{
    box-shadow: 0px 0px 5px var(--primarydark-color);
}