@keyframes slideToright{
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
   
} 

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
        
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        
    }
}


.slideToright{
    animation: slideToright  0.7s   linear;
    backface-visibility: hidden;
    
}
.slideToleft{
    animation: fadeInLeft 1s  linear;
    backface-visibility: hidden;
    
}

.HeroSection .poster {
    width: 100%;
    margin-bottom: 1rem;
}
.HeroSection .info{
    width: 100%;
    margin-bottom: 1rem;   
}
.HeroSection  .swiper-button-prev,.HeroSection .swiper-button-next{
    display: none !important;
}

.HeroSection .poster .img-box{
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transform:translateX(0);
    backface-visibility: hidden;
   
}
.HeroSection .poster .img-box img{
    width:100%;
    height: auto;
    object-fit:cover;
} 

.HeroSection .info .hero-section-title{
    font-size: 1.5rem;
    line-height: 38px;
    border-left: 2px solid #1f80e0;
    padding: 0 0 0 15px;
    margin-bottom: 1rem;
    backface-visibility: hidden
}
.HeroSection .info ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:1rem;
}
.HeroSection .info ul li{
     width: 40%;
     margin-bottom: 1rem;
     padding-right: 1rem;
}
.HeroSection .info ul li:nth-child(even){
    text-align: end;
}
.HeroSection .overview{
    font-size: 1rem;
    line-height: 2;
}
.HeroSection .overview.small{
    font-size: .7rem;
    line-height: 2;
    overflow: hidden;
}

@media(min-width:576px){

        .HeroSection .row{
            justify-content:space-between;

        }
        .HeroSection .poster {
            width: 30%;
            margin-bottom: 1rem;
            align-self: center;
            order: 1;
        }
        .HeroSection .info{
            width: 60%;
            margin-bottom: 1rem;
            order: 0;
            align-self: center;
        }
    
      
  }
  @media(min-width:768px){
 

  }
  @media(min-width:992px){
    .HeroSection .row{
        justify-content: flex-start;
        gap: 10%;
    }
    

    .HeroSection .poster .img-box img{
        height:100%;
    }
    .HeroSection .info{  
        align-self: flex-start;
        width: 55%;
    }
    .HeroSection .info .hero-section-title{
        font-size:2rem;
    }
    .HeroSection .overview.small{
        font-size: 1rem;
        line-height: 2;
        overflow: hidden;
    }
  }
  @media(min-width:1200px){
    .HeroSection .info{  
        align-self: center;
    }
  }
  @media(min-width:1400px){
 
  }  