:root{
  --primary-color: #3F9FFF;
  --primarydark-color: #60b0ff;
  --black-color: #182031;
  --dark-color: #0a0e17;
  --secondary-color: #cecfd1;
  --grey-color: #f5f5f1;
  --white-color: #ffffff;
  --body-fonts: 'Roboto', sans-serif;
  --title-fonts: 'Jost', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  overflow-x: hidden;
}
#root{
  background: var(--dark-color);
  transition:all 0.4s ease-in-out;
  min-height:100vh;
  display:flex;
  flex-direction: column;
}

#root.red{
  --primary-color: #e50916;
  --primarydark-color: #b81d24;
  --black-color: #221f1f;
  --dark-color: #161616;
  --secondary-color: #cecfd1;
  --grey-color: #f5f5f1;
  --background:var(--dark-color);
  --white-color: #ffffff;
  transition:all 0.4s ease-in-out;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  height: 5px;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primarydark-color);
  border-radius: 10px;
  height: 200px;}

*{
  padding:0;
  margin:0;
  color:var(--white-color);
}
main{
  min-height: 50vh;

}
section{
  padding:2rem 0;
}
a{
 
  text-decoration:none;
}
ul {
  list-style-type: none;
  display:inline-block;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
.grid{
  display: grid;
}

.d-none{
  display: none !important;
}
.show{
  display:block;
}


.fadeIn{
  animation-fill-mode: forwards;
  animation: fadeIn .5s ease;
}
@keyframes fadeIn{
  from{
      opacity: 0;
      
  }
  to{
      opacity: 1;
     
  }
}

span.card-image.lazy-load-image-background.blur.lazy-load-image-loaded{
  width: 100%;
  overflow: hidden;
}
.lazy-load-image-background.blur.lazy-load-image-loaded > img{
  transition: all .5s ease-in-out !important;
}
.Toastify__toast-container {
  z-index: 99999 !important;
}
.Toastify__toast-theme--dark {
  
}
.Toastify__toast-theme--light {
  background-color: var(--black-color) !important;
  color: var(--grey-color) !important;
}