section.movie{
    
    border-bottom: 1px solid var(--primaryColor);
    background-size:cover ;
    background-position: right -200px top;
    background-repeat: no-repeat;
    position:relative;
}

.movie-details{
    width:100%;
    height:100%;
    background-size:cover ;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgb(8, 19, 41) 150px, rgba(8, 36, 36, 0.84) 100%);
    padding: 2rem 0 0;
}
.movie-details .container{
    padding: 0;
}
.movie-details .container .row{
    justify-content: center;
}
.movie-details .movie-poster{
    width: 100%;
    height: auto;
    padding: 1rem;

}
.movie-details .movie-poster .poster{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.movie-details .movie-poster .poster img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.movie-details .movie-poster .poster .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
   
    border-radius: var(--imageBorderRadius);
    visibility: hidden;
    opacity: 0;
    transition: linear .2s;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-details .movie-poster .poster:hover .overlay{
    visibility: visible;
    opacity: 1;  
}
.movie-info-details{
    width: 100%;
    padding: 1rem;  
}
.movie-details .title,.movie-details .title h2,.movie-details .info-about-movie li{
    margin-bottom:1rem;
}
.movie-details .info-about-movie{
    width: 97%;
    font-size: .9rem;
}
.movie-details .info-about-movie li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:1rem;
}
.movie-details .info-about-movie li.genres span{
    max-width: 50%;
}
.movie-details .info-about-movie li.genres span{
    display: inline-block;
}
.movie-details .info-about-movie li.genres  span:nth-child(even){

     text-align: end;
}
.movie-details .movie-info-details .tag-line{
    margin-bottom:1rem;
}
.movie-details .overView{
    padding-bottom: 2rem;
}
.movie-details .overView h3{
    margin-bottom: 1rem;
}
.movie-details .overView p{
    line-height: 2
}
@media(min-width:576px){
    .container{
     padding:  0 1rem !important;
    }
    .movie .movie-details .container .row{
        justify-content: space-between;
         align-items: center;
    }
    .movie-details .movie-poster {
        width: 40%;
        height: auto;
        padding: 0;
    }
    .movie-info-details{
        width: 56%;
        padding:0;
    }
  }
@media(min-width:768px){
    .movie .movie-details .container .row{
        align-items: flex-start;
        padding: 2rem 0;
    }

    .movie-info-details{
        align-self: center;
        padding:1rem 0;
    }
}
@media(min-width:992px){

}
@media(min-width:1200px){
    .movie-details .title h2{
        font-size: 3.2rem;
    }
    .movie-details .movie-poster{
        width: 20%;
    }
    .movie .movie-details .container .row{
        justify-content: flex-start;
        gap: 5%;
    }
 
    .movie-info-details{
        align-self: center;
        padding:1rem 0;
    }
    .movie-details .info-about-movie li{
        font-size: 1.1rem;
        width: 50%;
        font-weight: 400;
    }
    .movie-details .info-about-movie li.genres span:nth-child(even){
        width:25%;
        text-align: left;
    }

    .movie-details .overView h3{
        font-size: 1.7rem;
    }
    .movie-details .overView p{
        font-size: 1.1rem;
    }
   
    .movie-details .movie-info-details .tag-line{
        font-size: 1.2rem;
    }

}
@media(min-width:1400px){
   
}