.recommendation-item{
    border: 1px solid rgba(var(--lightGrey), 1);
    padding-bottom: 1rem;
    background: var(--black-color);
    box-shadow: 0px 0px 3px var(--primarydark-color);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.recommendation-item .img-box{
    min-width: 138px;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position:relative;
}
.recommendation-item .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recommendation-item .recommendation-details{
    margin-top: 1rem;
}
.recommendation-item .recommendation-details  p{
    color: var(--grey-color);
   
}
.recommendation-item .recommendation-details .name  p{
    margin-bottom:0.5rem;
}
.recommendation-item .recommendation-details p:last-of-type{
    font-size: 0.9rem;
}
