.recommendations{
    padding: 2rem 0;
    cursor: pointer;
}
.recommendations .swiper{
    padding: 1rem 0;

}
@media(min-height:1024px){
    .recommendations .swiper{
        padding: 1rem;
    
    }
}
